@import url(https://db.onlinewebfonts.com/c/74a4858c84d2494f93a076ceb57f3499?family=Foulis+Greek);
:root{
    --primary-bg-color: #FEFEEB;
    --accent-color: #FE6596;
}

body{
    background-color: var(--primary-bg-color);
}

#main-ctn{
    display: flex;
    flex-direction: column;
    margin: 100px;
    margin-top: 60px;
}

#header{
    display: flex;
    z-index: 0;
    #name-ctn{
        flex-direction: column;

        #name-sub-ctn{
            display: flex;
            gap: 20px;
            margin-bottom: -70px;
            #name{
                font-family: "Foulis Greek";
                font-size: 128pt;
                color: var(--accent-color);
            }
            img{
                position: relative;
                top: -25px;
                scale: 1.1;
            }
        }
        #bio-line{
            margin-top: 10px;
            font-family: 'Foulis Greek';
            font-size: 18pt;
            color: var(--accent-color);
        }

        .l-logo{
            position: relative;
            top: 5px;
            left: 20px;

            img{
                scale: 0.8;
            }
        }

        #linkedin-logo{
            margin-left: 20px;
        }

    }
}

#header::before{
    content: "";
    position: absolute;
    top: 0;
    bottom:0;

    z-index: -1;

    width: 120%;
    height: 120%;

    background-image: url("src/lib/assets/background-overlays/pixel-grain.svg");
    background-repeat: no-repeat;
    pointer-events: none;

    opacity: 0.80;
}
