@import url(https://db.onlinewebfonts.com/c/74a4858c84d2494f93a076ceb57f3499?family=Foulis+Greek);

@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-Heavy.otf");
    font-weight: 900;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-HeavyItalic.otf");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-Bold.otf");
    font-weight: 800;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-BoldItalic.otf");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-Semibold.otf");
    font-weight: 700;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-SemiboldItalic.otf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-Medium.otf");
    font-weight: 600;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-MediumItalic.otf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-Book.otf");
    font-weight: 500;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-BookItalic.otf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-Light.otf");
    font-weight: 400;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-LightItalic.otf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-Thin.otf");
    font-weight: 300;
}
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("/fonts/CooperHewitt-OTF-public/CooperHewitt-ThinItalic.otf");
    font-weight: 300;
    font-style: italic;
}

:root{
    --primary-bg-color: #FEFEEB;
    --accent-color: #FE6596;
}

html, body{
    overflow-x: hidden;
}

body{
    background-color: var(--primary-bg-color);
    margin: 0;
    position: relative;
}

#main-ctn{
    display: flex;
    flex-direction: column;
    
}

#header{
    padding: 6rem;
    padding-top: 60px;
    display: flex;
    z-index: 0;
    #name-ctn{
        flex-direction: column;
        #name-sub-ctn{
            display: flex;
            gap: 20px;
            margin-bottom: -70px;
            #name{
                font-family: "Foulis Greek";
                font-size: 128pt;
                color: var(--accent-color);
            }
            img{
                position: relative;
                top: -25px;
                left: 25px;
                scale: 1.1;
            }
        }
        #bio-line{
            margin-top: 10px;
            font-family: 'Foulis Greek';
            font-size: 18pt;
            color: var(--accent-color);
        }
        .l-logo{
            position: relative;
            top: 5px;
            left: 20px;
            img{
                scale: 0.8;
            }
        }
        #linkedin-logo{
            margin-left: 20px;
        }
    }
}

#header::before{
    content: "";
    position: absolute;
    top: 0;
    bottom:0;

    overflow-x: hidden;

    z-index: -1;
    width: 120%;
    height: 120%;

    background-image: url("/background-overlays/pixel-grain.svg");
    background-repeat: no-repeat;
    pointer-events: none;

    

    opacity: 0.80;
}

#nav{
    background-color: var(--accent-color);
    padding: 30px 50px;
    margin-top: 50px;
    z-index: 1;

    display: flex;
    gap: 80px;

    #kessoku-logo{
        align-self: flex-end;
        justify-self: flex-end;
        mix-blend-mode: plus-lighter;
    }
    #nav-menu-wrap{
        display: flex;
        align-items: center;
        gap: 50px;

        font-family: 'Cooper Hewitt';
        font-weight: 900;
        color: white;
        font-size: 20px;

    }
}

@media only screen and (max-width: 600px) {
    #header{
        padding: 2rem;
        display: flex;
        z-index: 0;
        #name-ctn{
            flex-direction: column;
            #name-sub-ctn{
                display: flex;
                margin-bottom: -110px;
                #name{
                    font-family: "Foulis Greek";
                    font-size: 40pt;
                    color: var(--accent-color);
                }
                img{
                    scale: 0.3;
                    position: relative;
                    top: -45px;
                    left: -70px;
                }
            }
            #bio-line{
                margin-top: 10px;
                font-family: 'Foulis Greek';
                font-size: 8pt;
                color: var(--accent-color);
            }
            .l-logo{
                position: relative;
                top: 8px;
                left: -5px;
                img{
                    scale: 0.4;
                }
            }
            #linkedin-logo{
                margin-left: -1px;
                position: relative;
                left: -10px;
                top: 7px;
            }
        }
        }

        #header::before{
            background-size: 120%;
        }

        #nav{
            background-color: var(--accent-color);
            padding: 10px 10px;
            margin-top: 10px;
            padding-left: 15px;
            z-index: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            
            #akiss-logo{
                margin: 0;
                img{
                    width: 40px;
                    height: auto;
                }
                
            }

            #kessoku-logo{
                align-self: flex-end;
                justify-self: flex-end;
                mix-blend-mode: plus-lighter;
                img{
                    height: 30px;
                    width: auto;
                }
                
            }
            #nav-menu-wrap{
                display: flex;
                align-items: center;
                gap: 20px;

                font-family: 'Cooper Hewitt';
                font-weight: 900;
                color: white;
                font-size: 8px;

            }
        }
}